prefix = "department"
kube_version = "1.15.3"
location = "Canada Central"
georeplication_region = "Canada East"
admin_username = "azureuser"
node_count = 3
node_size = "Standard_D8s_v3"
node_pod_count = 60
public_ssh_key_path = "~/.ssh/k8s.pub"
subscription_id = ""
client_id       = ""
client_secret   = ""
tenant_id       = ""
